@use "variables" as *;

.form__group {
	position: relative;
	.form__field {
		width: 100%;
		height: 35px;
		border: 0;
		border-bottom: 2px solid $grey;
		padding: 10px 0;
		font-size: 1.2rem;
		background: transparent;
		outline: none;
		transition: border-color 0.2s;
		color: rgba($black, 0.8);

		&::placeholder {
			color: transparent;
		}

		&:placeholder-shown ~ .form__label {
			top: 20px;
			font-size: 1.2rem;
			color: $grey;
		}

		&:focus {
			border-color: $black;
		}

		&:focus ~ .form__label {
			top: -5px;
			font-size: 1rem;
			color: $black;
		}
	}

	.form__label {
		position: absolute;
		top: -5px;
		left: 0;
		font-size: 1rem;
		color: $grey;
		transition: all 0.2s;
	}
}
