@use "variables" as *;

.form__group {
	position: relative;

	.form__field {
		width: 100%;
		height: 50px;
		border: 0;
		border-bottom: 2px solid $grey;
		padding: 20px 0 5px 0;
		font-size: 1.2rem;
		background: transparent;
		outline: none;
		transition: border-color 0.2s;
		color: rgba($black, 0.8);

		&::placeholder {
			color: transparent;
		}

		&.error {
			border-color: $red;
			&:placeholder-shown ~ .form__label {
				color: $red;
			}
			&:focus ~ .form__label {
				color: $black;
			}
		}

		&:placeholder-shown ~ .form__label {
			top: 15px;
			font-size: 1.2rem;
			color: $grey;
		}

		&:focus {
			border-color: $black;
		}

		&:focus ~ .form__label {
			top: 0;
			font-size: 1rem;
			color: $black;
		}
	}

	.form__label {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1rem;
		color: $grey;
		transition: all 0.2s;
	}

	.error-message {
		color: $red;
		font-size: 0.8rem;
		margin-top: 5px;
		max-width: 200px;
	}
}
